@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;

700&family=PT+Sans:wght@400;700&display=swap");
/*======================
  base
======================*/
body {
	word-wrap: break-word;
	background: #fff;
	color: #1a1a1a;
	font-family: "Noto Sans JP", sans-serif;
	font-size: 15px;
	font-weight: 400;
	line-height: 40px;
	overflow-wrap: break-word;
	overflow-x: hidden;
}

body.backlayer {
	overflow: hidden;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
button,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html {
	line-height: 1;
}

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li,
dd {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
	vertical-align: middle;
}

q,
blockquote {
	quotes: none;
}

q:before,
q:after,
blockquote:before,
blockquote:after {
	content: "";
	content: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block;
}

img {
	border: none;
	display: block;
	height: auto;
	width: 100%;
}

a {
	color: inherit;
	text-decoration: none;
	transition: all 0.1s ease-in 0s;
}

a:hover {
	opacity: 0.7;
	transition: 0.1s ease-in 0s;
}

a > img {
	transition: all 0.3s ease 0s;
}

a > img:hover {
	opacity: 0.7;
	transition: all 0.3s ease 0s;
}

[type=text],
[type=email],
[type=submit],
select,
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: #fff;
	border: 1px solid #707070;
	border-radius: 0;
	box-shadow: none;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
	width: 100%;
}

textarea {
	height: 240px;
	resize: none;
}

/*=================
l-footer
=================*/

.l-footer {
	background: #f4f4f4;
	margin-top: 200px;
	padding: 40px 0;
	position: relative;
}

.l-footer__logo {
	align-items: baseline;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 100px;
}

.l-footer__logo img {
	width: 50px;
}

.l-footer__nav {
	margin-top: 24px;
}

.l-footer__nav-items {
	display: flex;
	justify-content: center;
}

.l-footer__nav-items li:not(:first-child) {
	border-left: 1px solid #666;
	padding-left: 20px;
}

.l-footer__nav-items li:not(:last-child) {
	padding-right: 20px;
}

.l-footer__copyright {
	margin-top: 24px;
}

/*=================
l-header
=================*/

.l-header {
	background: transparent;
	padding: 40px 0;
	position: fixed;
	width: 100%;
}

.l-header__inner {
	align-items: center;
	display: flex;
	height: 70px;
}

.l-header__logo {
	width: 149px;
}

.l-header__line-img {
	margin-left: auto;
	width: 320px;
}

/*========================
l_sidebar
========================*/

/*=================
c-button
=================*/

/*=================
c-button
=================*/

/*=================
l-drawer
=================*/

.l-drawer {
	cursor: pointer;
	display: none;
}

.l-drawer-icon {
	position: fixed;
	right: 16px;
	top: 20px;
	transition: transform 0.5s ease 0s;
	z-index: 300;
}

.l-drawer-icon.is-active {
	right: 16px;
	top: 10px;
	transform: translateX(-300px);
	transition: transform 0.5s ease 0s;
}

.l-drawer-icon.is-active .l-drawer-icon__bar1 {
	background: #fff;
	top: 8px;
	transform: rotate(-45deg);
}

.l-drawer-icon.is-active .l-drawer-icon__bar2 {
	display: none;
}

.l-drawer-icon.is-active .l-drawer-icon__bar3 {
	background: #fff;
	top: 8px;
	transform: rotate(45deg);
}

.l-drawer-icon__bars {
	display: block;
	height: 18px;
	position: relative;
	width: 30px;
}

.l-drawer-icon__bar1,
.l-drawer-icon__bar2,
.l-drawer-icon__bar3 {
	background: #333;
	border-radius: 2px;
	height: 4px;
	left: 4px;
	position: absolute;
	top: 0;
	width: 26px;
}

.l-drawer-icon__bar1 {
	top: 4px;
}

.l-drawer-icon__bar2 {
	top: 12px;
}

.l-drawer-icon__bar3 {
	top: 20px;
}

.l-drawer-content {
	background: #fff;
	height: 100%;
	position: fixed;
	right: 0;
	top: 0;
	transform: translate(105%);
	transition: transform 0.5s ease 0s;
	width: 300px;
	z-index: 199;
}

.l-drawer-content.is-active {
	transform: translateX(0);
}

.l-drawer-content__items {
	padding-top: 145px;
}

.l-drawer-content__item a {
	color: #333;
	display: block;
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 600;
	line-height: 1.1875;
	padding: 17px 0 16px;
	position: relative;
	text-align: center;
}

.l-drawer-background {
	background: #333;
	display: none;
	height: 100%;
	opacity: 0.6;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 198;
}

.l-drawer-background.is-active {
	display: block;
}

#drawer__nav-items .sub-menu {
	display: none;
}

.l-drawer__right {
	background: #fff;
	position: fixed;
	right: 0;
	top: 0;
	transform: translate(105%);
	transition: transform 0.5s ease 0s;
	width: 300px;
	z-index: 300;
}

.l-drawer__right.is-active {
	transform: translateX(0);
}

.l-drawer__nav-items li {
	border-bottom: 1px solid #333;
	padding: 20px;
	text-align: center;
}

/*=======================
  inner
=======================*/

.c-header__inner {
	margin: 0 auto;
	max-width: 1440px;
	padding-left: 40px;
	padding-right: 40px;
}

.c-section__inner {
	margin: 0 auto;
	max-width: 1440px;
	padding-left: 270px;
	padding-right: 270px;
}

/*========================
c-pagination
========================*/

.wp-pagenavi {
	margin-top: 60px;
	text-align: center;
}

.pages {
	display: none;
}

.page {
	background: #fff;
	border: 2px solid #45b761 !important;
	color: #45b761;
}

.current {
	background: #45b761;
	border: none !important;
	color: #fff;
}

.current,
.page {
	border-radius: 50%;
	margin-left: 20px !important;
	margin-right: 20px !important;
	padding: 20px !important;
}

.previouspostslink,
.nextpostslink {
	border: none !important;
	color: #45b761;
	font-size: 36px;
	margin-left: 20px !important;
	margin-right: 20px !important;
	padding: 10px !important;
	position: relative;
	top: 4px;
}

/*====================================================================
slick
====================================================================*/

html,
body {
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

.sliderArea {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 25px;
}

.sliderArea.w300 {
	max-width: 300px;
}

.slick-slide {
	margin: 0 5px;
}

.slick-slide img {
	height: auto;
	width: 100%;
}

.slick-prev,
.slick-next {
	z-index: 1;
}

.slick-prev:before,
.slick-next:before {
	color: #000;
}

.slick-slide {
	opacity: 0.2;
	transition: all ease-in-out 0.3s;
}

.slick-active {
	opacity: 1;
}

.slick-current {
	opacity: 1;
}

.thumb {
	margin: 20px 0 0;
}

.thumb .slick-slide {
	cursor: pointer;
}

.thumb .slick-slide:hover {
	opacity: 0.7;
}

.slick-arrow {
	display: none !important;
}

.p-single-stay__slider_thumb {
	height: 40vw;
	overflow: hidden;
}

/*=================
c-tit
=================*/

.c-fv__tit {
	font-size: 50px;
}

.c-section__tit {
	font-size: 35px;
}

/*=================
to-top
=================*/

.to-top {
	bottom: 36px;
	font-size: 48px;
	opacity: 0;
	position: fixed;
	right: 40px;
	transition: all 0.5s ease 0s;
	visibility: hidden;
	z-index: 300;
}

.to-top.is-show {
	opacity: 1;
	visibility: visible;
}

.to-top img {
	width: 50px;
}

.p-fv {
	background: url(../../../../../assets/img/fv-img.jpg) no-repeat top 20% center/cover;
	height: 45vw;
	width: 100%;
}

/*=================
u-text-align
=================*/

.u-tal {
	text-align: left;
}

.u-tac {
	text-align: center;
}

.u-tar {
	text-align: right;
}

@media screen and (min-width: 1024px) {

body {
	font-size: 15px;
	line-height: 80px;
}

}

@media screen and (max-width: 1439px) {

.l-footer__logo img {
	width: 40px;
}

.l-footer__nav-items li {
	font-size: 14px;
}

.l-footer__copyright {
	font-size: 14px;
}

.l-drawer {
	display: block;
}

.current,
.page {
	margin-left: 10px !important;
	margin-right: 10px !important;
	padding: 15px !important;
}

.previouspostslink,
.nextpostslink {
	margin-left: 10px !important;
	margin-right: 10px !important;
}

}

@media screen and (max-width: 1023px) {

.l-footer {
	margin-top: 120px;
}

.l-footer__nav-items li {
	font-size: 12px;
}

.l-footer__nav-items li:first-child,
.l-footer__nav-items li:nth-child(2) {
	display: none;
}

.l-footer__nav-items li:nth-child(3) {
	border: none;
}

.l-footer__copyright {
	font-size: 12px;
}

.l-header__inner {
	height: 60px;
}

.l-drawer-icon {
	top: 15px;
}

.current,
.page {
	margin-left: 5px !important;
	margin-right: 5px !important;
	padding: 10px !important;
}

.previouspostslink,
.nextpostslink {
	margin-left: 5px !important;
	margin-right: 5px !important;
}

}

@media screen and (max-width: 767px) {

.l-footer {
	margin-top: 90px;
}

.l-footer__nav {
	display: none;
}

.l-header__inner {
	height: 40px;
}

.l-drawer-icon {
	top: 6px;
}

.to-top {
	bottom: 8px;
	font-size: 24px;
	right: 16px;
}

}

@media screen and (max-width: 375px) {

.l-drawer-icon.is-active {
	transform: translateX(-260px);
}

.l-drawer-content {
	width: 260px;
}

.l-drawer__right {
	width: 260px;
}

.l-drawer__nav-items li {
	padding: 15px;
}

.c-section__inner {
	max-width: 375px;
	padding-left: 20px;
	padding-right: 20px;
}

}

