@charset "UTF-8";
@use '../foundation/index' as index;
/*=================
l-header
=================*/

.l-header {
  background: transparent;
  position: fixed;
  width: 100%;
  padding: 40px 0;
}



.l-header__inner {
  display: flex;
  align-items: center;
  height: 70px;

  // max-width: 1023px
  @include index.mq('-l') {
    height: 60px;
  }
  // max-width: 767px
  @include index.mq('-m') {
    height: 40px;
  }
}


.l-header__logo {
  width: 149px;

  img {

  }
}

.l-header__line-img {
  width: 320px;
  margin-left: auto;

  img {

  }
}