@charset "UTF-8";
@use "../../foundation/index" as index;
/*=======================
  inner
=======================*/
.c-header__inner {
  max-width: index.$inner-max-width-pc;
  padding-right: index.$inner-header-padding-pc;
  padding-left: index.$inner-header-padding-pc;
  margin: 0 auto;
}
.c-section__inner {
  max-width: index.$inner-max-width-pc;
  padding-left: index.$inner-padding-pc;
  padding-right: index.$inner-padding-pc;
  margin: 0 auto;
  
  @include index.mq(-l) {
    
  }
  
  @include index.mq(-m) {
    
  }
  
  @include index.mq(-s) {
    padding-left: index.$inner-padding-sp;
    padding-right: index.$inner-padding-sp;
    max-width: index.$inner-max-width-sp;
  }
	// -s: "screen and (max-width: 375px)",
	// -m: "screen and (max-width: 767px)",
	// -l: "screen and (max-width: 1023px)",
	// -xl: "screen and (max-width: 1439px)",
	// -xxl: "screen and (max-width: 1919px)",
}