@charset "UTF-8";
@use '../../foundation/index' as index;
/*========================
c-pagination
========================*/

.wp-pagenavi {
  text-align: center;
  margin-top: 60px;
}

.pages {
  display: none;
}
  
.page {
  background: #fff;
  color: #45b761;
  border: 2px solid #45b761!important;
}
  
.current {
  background: #45b761;
  color: #fff;
  border: none!important;
}

.current,
.page {
  border-radius: 50%;
  padding: 20px!important;
  margin-right: 20px!important;
  margin-left: 20px!important;
  $values: 18px, 500, 2em, 0;

  // max-width: 1439px
  @include index.mq('-xl') {
    $values: 14px, 500, 2em, 0;
    padding: 15px!important;
    margin-right: 10px!important;
    margin-left: 10px!important;
  }
  // max-width: 1023px
  @include index.mq('-l') {
    $values: 12px, 500, 1.5em, 0;
    padding: 10px!important;
    margin-right: 5px!important;
    margin-left: 5px!important;
  }
}

.previouspostslink,
.nextpostslink {
  padding: 10px!important;
  margin-right: 20px!important;
  margin-left: 20px!important;
  border: none!important;
  font-size: 36px;
  position: relative;
  top: 4px;
  color: #45b761;

  // max-width: 1439px
  @include index.mq('-xl') {
    margin-right: 10px!important;
    margin-left: 10px!important;
  }
  // max-width: 1023px
  @include index.mq('-l') {
    margin-right: 5px!important;
    margin-left: 5px!important;
  }
}